<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <!-- Link to the base CSS Stylesheet -->
    <link rel="stylesheet" th:href="@{/css/welcome.css}">

    <title>Admin - Users</title>
</head>
<body>

<!-- Navbar that is fixed to the top of the screen when scrolling -->
<nav class="navbar navbar-expand-md fixed-top" style="background-color: #460073">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/home/welcome}">
            <img alt="Accenture's Logo" height="50" th:src="@{/images/accenture-logo.png}">
        </a>

        <!-- Various links that the user can click on to take them to other pages -->
        <div class="collapse navbar-collapse" style=".nav-item-active">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <!-- Setting this link as 'active', as it is the page we are currently on (will highlight it) -->
                    <a class="nav-link" aria-current="page" th:href="@{/home/welcome}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/onboarding/onboardingHome}">Onboarding</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" th:href="@{/courses/list}">Courses</a>
                </li>
                <li class="nav-item-active" sec:authorize="hasRole('ADMIN')">
                    <a class="nav-link" aria-current="page" th:href="@{/admin/adminHome}">Admin Tools</a>
                </li>
            </ul>

            <!-- Add a logout button -->
            <form action="#" th:action="@{/logout}" method="POST" class="d-flex">

                <input class="btn" type="submit" value="Logout"/>

            </form>
        </div>
    </div>
</nav>

<br><br><br><br>

<div class="container">

    <h3>User Directory</h3>
    <hr>

    <!-- Add user button link -->
    <a th:href="@{/admin/addUser}"
       class="btn btn-info btn-sm">
        + Add User
    </a>
    <br><br>

    <table class="table table-bordered table-striped">
        <thead class="table-dark">
        <tr>
            <th>User ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Career Level</th>
            <th>Team ID</th>
            <th>Actions</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="tempUser : ${users}">

            <td th:text="${tempUser.userId}"/>
            <td th:text="${tempUser.firstName}"/>
            <td th:text="${tempUser.lastName}"/>
            <td th:text="${tempUser.careerLevel}"/>
            <td th:text="${tempUser.teamId}"/>


            <td>

                <!-- Add view button link -->
                <a th:href="@{/admin/viewUser(userId=${tempUser.userId})}"
                   class="btn btn-info btn-sm">
                    View
                </a>

                <!-- Add update button link -->
                <a th:href="@{/admin/updateUser(userId=${tempUser.userId})}"
                   class="btn btn-info btn-sm">
                    Update
                </a>

                <!-- Add "delete" button link -->
                <a th:href="@{/admin/deleteUser(userId=${tempUser.userId})}"
                   class="btn btn-danger btn-sm"
                   onclick="if(!(confirm('Are you sure you want to delete this user?'))) return false">
                    Delete
                </a>

            </td>

        </tr>
        </tbody>
    </table>

</div>

</body>
</html>