<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <title>Admin - Course Processed</title>
</head>
<body>

<p th:text="'Course has been updated! Details are as follows:'"></p>
<br>
<p th:text="'Course Name: ' + ${course.courseName}"></p>
<p th:text="'Course Description: ' + ${course.courseDescription}"></p>
<p th:text="'Course Content: ' + ${course.courseContent}"></p>

<a th:href="@{/admin/adminCourses}"
   class="btn btn-info btn-sm">
    Back to Course Page
</a>


</body>
</html>