<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <!-- Link to the base CSS Stylesheet -->
    <link rel="stylesheet" th:href="@{/css/welcome.css}">

    <title>Admin - Add Course</title>

</head>
<body>

<!-- Navbar that is fixed to the top of the screen when scrolling -->
<nav class="navbar navbar-expand-md fixed-top" style="background-color: #460073">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/home/welcome}">
            <img alt="Accenture's Logo" height="50" th:src="@{/images/accenture-logo.png}">
        </a>

        <!-- Various links that the user can click on to take them to other pages -->
        <div class="collapse navbar-collapse" style=".nav-item-active">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <!-- Setting this link as 'active', as it is the page we are currently on (will highlight it) -->
                    <a class="nav-link" aria-current="page" th:href="@{/home/welcome}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/onboarding/onboardingHome}">Onboarding</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" th:href="@{/courses/list}">Courses</a>
                </li>
                <li class="nav-item-active" sec:authorize="hasRole('ADMIN')">
                    <a class="nav-link" aria-current="page" th:href="@{/admin/adminHome}">Admin Tools</a>
                </li>
            </ul>

            <!-- Add a logout button -->
            <form action="#" th:action="@{/logout}" method="POST" class="d-flex">

                <input class="btn" type="submit" value="Logout"/>

            </form>
        </div>
    </div>
</nav>

<br><br><br><br>

<form action="#" th:action="@{/admin/processAddCourse}" th:object="${course}" method="POST">

    Course ID: <input type="number" th:field="*{courseId}">

    <br><br>

    Course Name: <input type="text" th:field="*{courseName}">

    <br><br>

    Course Description: <input type="text" th:field="*{courseDescription}">

    <br><br>

    Course Content: <input type="text" th:field="*{courseContent}">

    <br><br>

    <input type="submit" value="Submit">

</form>


</body>
</html>