

/* Setting font for whole webpage to Accenture standard font */
* {
    font-family: Graphik, sans-serif;
}

.nav-item-active {
    background-color: #7500c0;
}
.nav-link {
    color: white;
}
.btn {
    background-color: #7500c0;
    color: white;
}

.card {
    max-width: 400px;
}

.container {
    align-items: center;
}

.card-header, .card-footer, .col-lg-4 {
    align-items: center;
    justify-content: center;
    display: flex;
}