<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <title>Welcome to the HMRC Onboarding application!</title>
</head>
<body>

<h3>Welcome to the HMRC Onboarding App!</h3>

<!-- Display username and role -->
<p>
    User: <span sec:authentication="principal.username"></span>
    <br><br>
    Role(s): <span sec:authentication="principal.authorities"></span>
</p>

Please select an option below:

<br><br>
<a th:href="@{/onboarding/onboarding-home}"
   class="btn btn-info btn-sm">
    Onboarding
</a>

<br><br>
<a th:href="@{/courses/list}"
   class="btn btn-info btn-sm">
    Courses
</a>

<div sec:authorize="hasRole('ADMIN')">

    <!-- Hiding Admin button so that only users with 'admin' role are able to see button -->
    <br>
    <a th:href="@{/admin/admin-home}"
       class="btn btn-info btn-sm">
        Admin
    </a>

</div>

<hr>

<!-- Add a logout button -->
<form action="#" th:action="@{/logout}" method="POST">

    <input type="submit" value="Logout"/>

</form>

</body>
</html>