<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <title>Welcome to the HMRC Onboarding application!</title>
</head>
<body>

<h3>Welcome to the HMRC Onboarding App!</h3>

<!-- Display user name and role -->
<p>
    User: <span sec:authentication="principal.username"></span>
    <br><br>
    Role(s): <span sec:authentication="principal.authorities"></span>
</p>

Please select an option below:

<a th:href="@{/home/login}"
   class="btn btn-info btn-sm">
    Login
</a>

<a th:href="@{/onboarding/onboarding-home}"
   class="btn btn-info btn-sm">
    Onboarding
</a>

<a th:href="@{/courses/list}"
   class="btn btn-info btn-sm">
    Courses
</a>

</body>
</html>