<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <title>Onboarding - Data and Ethics Training</title>
</head>
<body>

<h3>Onboarding - Data & Ethics Training</h3>

Please complete the mandatory Data and Ethics training. This can be found in the
<a th:href="@{/courses/list}">Course list</a>. Once you've passed the course, return here and click the 'complete'
button to log your progress.

<a th:href="@{/onboarding/onboardingCompleteDataEthics}"
   class="btn btn-info btn-sm">
    Complete
</a>

<a th:href="@{/onboarding/onboardingHome}"
   class="btn btn-info btn-sm">
    Onboarding Home
</a>

</body>
</html>