<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <title>Onboarding</title>
</head>
<body>

<h3>Onboarding Home</h3>

This is the Onboarding home page.

<table class="table table-bordered table-striped">
    <thead class="table-dark">
    <tr>
        <th>Onboarding</th>
        <th>Progress</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>Welcome</td>
        <td th:text="${onboarding_progress.welcomeCompletion}"></td>
    </tr>
    <tr>
        <td>Data Ethics</td>
        <td th:text="${onboarding_progress.dataEthicsCompletion}"></td>
    </tr>
    <tr>
        <td>Setup</td>
        <td th:text="${onboarding_progress.setupCompletion}"></td>
    </tr>
    <tr>
        <td>Meet The Team</td>
        <td th:text="${onboarding_progress.meetTeamCompletion}"></td>
    </tr>
    </tbody>
</table>


<a th:href="@{/home/welcome}"
   class="btn btn-info btn-sm">
    Home
</a>

<br>

<a th:href="@{/onboarding/onboarding-setup}"
   class="btn btn-info btn-sm">
    Setup
</a>

<a th:href="@{/onboarding/onboarding-meet-the-team}"
   class="btn btn-info btn-sm">
    Meet the Team
</a>

</body>
</html>